body{
  -webkit-print-color-adjust:exact;
}

table 
{
color: black;
border-collapse: collapse;        
}
table tr 
{
  background-color: white;
  border:1px solid #8A9A76;
}
table td 
{
padding: 5px 8px;
}
table tr:nth-child(odd)
{
background-color: #EDF3DF;
}
table tr:nth-child(even)
{
background-color: #FFFFFF;
}
table tr:first-child
{
background-color: #D7E7BC;
}
table.releve tr:last-child
{
background-color: #D7E7BC;
}}

